<!DOCTYPE html>
<html>
<head>
    <title>Doggie Style</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.0/css/froala_blocks.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>

    <section class="fdb-block">
        <div class="col-fill-right"><img src="{{ url_for('video') }}" width="100%"/></div>
        <div class="container py-5">
            <div class="row">
            <div class="col-12 col-md-5 text-center">
                <h1>Doggie Style</h1>
                <p class="lead">Snapchat Dog-Filter archetype with the help of Open Computer Vision- Minimal methods executed in Python language, rendered on the web with the help of web-framework Flask. Results may vary due to Browser Compatibility.</p>
                <a class="github-button" href="https://github.com/h1m4n3hu/pasta_proj" data-icon="octicon-star" data-size="large" aria-label="Star h1m4n3hu/pasta_proj on GitHub">Star</a>
                <p>Believe me I am not taking your pictures. I already hate people.</p>
            </div>
            </div>
        </div>
    </section>

</body>

</html>